@font-face {
    font-family: 'Teko';
    src: url('../assets/fonts/teko-regular-webfont.eot');
    src: url('../assets/fonts/teko-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/teko-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/teko-regular-webfont.woff') format('woff'),
         url('../assets/fonts/teko-regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/teko-regular-webfont.svg#tekoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}